<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LED </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <button class="on"><a href="On">ON </a></button>
    <button class="off"><a href=off>OFF </a></button>
    <button class="blink"><a href="blink">Blink</a></button>
</body>
</html>